#Page URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tuproyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SECRET_KEY=eyJ...

# email
GMAIL_USER=tucuenta@gmail.com
GMAIL_APP_PASSWORD=abcd...

# Personal data
PERSONAL_EMAIL=tuemail@gmail.com #Por si tu emial personal es diferente al de Gmail, para recibir notificaciones o para contacto en la página de soporte