:root {
	--Base-0-White: rgb(255 255 255);
	--Base-100: rgb(242 244 247);
	--Base-200: rgb(228 231 236);
	--Base-300: rgb(206 210 218);
	--Base-400: rgb(151 161 175);
	--Base-50: rgb(249 250 251);
	--Base-500: rgb(99 112 131);
	--Base-600: rgb(65 78 98);
	--Base-700: rgb(52 64 81);
	--Base-750: rgb(39 49 63);
	--Base-800: rgb(26 35 45);
	--Base-900: rgb(20 28 37);
	--Error-100: rgb(255 194 194);
	--Error-200: rgb(255 163 163);
	--Error-300: rgb(255 133 133);
	--Error-400: rgb(255 102 102);
	--Error-50: rgb(255 229 229);
	--Error-500: rgb(255 77 77);
	--Error-600: rgb(246 44 44);
	--Error-700: rgb(222 18 18);
	--Error-800: rgb(176 17 17);
	--Error-900: rgb(121 12 12);
	--Info-100: rgb(224 242 254);
	--Info-200: rgb(185 230 254);
	--Info-300: rgb(124 212 253);
	--Info-400: rgb(54 191 250);
	--Info-50: rgb(240 249 255);
	--Info-500: rgb(11 165 236);
	--Info-600: rgb(0 134 201);
	--Info-700: rgb(2 106 162);
	--Info-800: rgb(6 89 134);
	--Info-900: rgb(11 74 111);
	--Primary-100: rgb(178 215 255);
	--Primary-200: rgb(143 196 255);
	--Primary-300: rgb(102 175 255);
	--Primary-400: rgb(51 149 255);
	--Primary-50: rgb(229 242 255);
	--Primary-500: rgb(1 102 255);
	--Primary-600: rgb(0 92 229);
	--Primary-700: rgb(0 85 178);
	--Primary-800: rgb(0 49 102);
	--Primary-900: rgb(0 37 77);
	--Success-100: rgb(209 250 229);
	--Success-200: rgb(167 243 208);
	--Success-300: rgb(110 231 183);
	--Success-400: rgb(52 211 153);
	--Success-50: rgb(236 253 245);
	--Success-500: rgb(16 185 120);
	--Success-600: rgb(5 150 105);
	--Success-700: rgb(4 120 87);
	--Success-800: rgb(6 95 70);
	--Success-900: rgb(6 78 59);
	--Violet-100: rgb(237 233 254);
	--Violet-200: rgb(221 214 254);
	--Violet-300: rgb(196 181 253);
	--Violet-400: rgb(167 139 250);
	--Violet-50: rgb(245 243 255);
	--Violet-500: rgb(139 92 246);
	--Violet-600: rgb(124 58 237);
	--Violet-700: rgb(109 40 217);
	--Violet-800: rgb(91 33 182);
	--Violet-900: rgb(76 29 149);
	--Warning-100: rgb(254 243 199);
	--Warning-200: rgb(253 230 138);
	--Warning-300: rgb(252 211 77);
	--Warning-400: rgb(251 191 36);
	--Warning-50: rgb(255 251 235);
	--Warning-500: rgb(245 158 11);
	--Warning-600: rgb(217 119 6);
	--Warning-700: rgb(180 83 9);
	--Warning-800: rgb(146 64 14);
	--Warning-900: rgb(120 53 15);
	--amber-100: rgb(254 243 199);
	--amber-200: rgb(253 230 138);
	--amber-300: rgb(252 211 77);
	--amber-400: rgb(251 191 36);
	--amber-50: rgb(255 251 235);
	--amber-500: rgb(245 158 11);
	--amber-600: rgb(217 119 6);
	--amber-700: rgb(180 83 9);
	--amber-800: rgb(146 64 14);
	--amber-900: rgb(120 53 15);
	--blue-100: rgb(219 234 254);
	--blue-200: rgb(191 219 254);
	--blue-300: rgb(147 197 253);
	--blue-400: rgb(96 165 250);
	--blue-50: rgb(239 246 255);
	--blue-500: rgb(59 130 246);
	--blue-600: rgb(37 99 235);
	--blue-700: rgb(29 78 216);
	--blue-800: rgb(30 64 175);
	--blue-900: rgb(30 58 138);
	--cyan-100: rgb(207 250 254);
	--cyan-200: rgb(165 243 252);
	--cyan-300: rgb(103 232 249);
	--cyan-400: rgb(34 211 238);
	--cyan-50: rgb(236 254 255);
	--cyan-500: rgb(6 182 212);
	--cyan-600: rgb(8 145 178);
	--cyan-700: rgb(14 116 144);
	--cyan-800: rgb(21 94 117);
	--cyan-900: rgb(22 78 99);
	--emerald-100: rgb(209 250 229);
	--emerald-200: rgb(167 243 208);
	--emerald-300: rgb(110 231 183);
	--emerald-400: rgb(52 211 153);
	--emerald-50: rgb(236 253 245);
	--emerald-500: rgb(16 185 129);
	--emerald-600: rgb(5 150 105);
	--emerald-700: rgb(4 120 87);
	--emerald-800: rgb(6 95 70);
	--emerald-900: rgb(6 78 59);
	--fuchsia-100: rgb(250 232 255);
	--fuchsia-200: rgb(245 208 254);
	--fuchsia-300: rgb(240 171 252);
	--fuchsia-400: rgb(232 121 249);
	--fuchsia-50: rgb(253 244 255);
	--fuchsia-500: rgb(217 70 239);
	--fuchsia-600: rgb(192 38 211);
	--fuchsia-700: rgb(162 28 175);
	--fuchsia-800: rgb(134 25 143);
	--fuchsia-900: rgb(112 26 117);
	--green-100: rgb(220 252 231);
	--green-200: rgb(187 247 208);
	--green-300: rgb(134 239 172);
	--green-400: rgb(74 222 128);
	--green-50: rgb(240 253 244);
	--green-500: rgb(34 197 94);
	--green-600: rgb(22 163 74);
	--green-700: rgb(21 128 61);
	--green-800: rgb(22 101 52);
	--green-900: rgb(20 83 45);
	--indigo-100: rgb(224 231 255);
	--indigo-200: rgb(199 210 254);
	--indigo-300: rgb(165 180 252);
	--indigo-400: rgb(129 140 248);
	--indigo-50: rgb(238 242 255);
	--indigo-500: rgb(99 102 241);
	--indigo-600: rgb(79 70 229);
	--indigo-700: rgb(67 56 202);
	--indigo-800: rgb(55 48 163);
	--indigo-900: rgb(49 46 129);
	--lime-100: rgb(236 252 203);
	--lime-200: rgb(217 249 157);
	--lime-300: rgb(190 242 100);
	--lime-400: rgb(175 229 86);
	--lime-50: rgb(247 254 231);
	--lime-500: rgb(132 204 22);
	--lime-600: rgb(101 163 13);
	--lime-700: rgb(77 124 15);
	--lime-800: rgb(63 98 18);
	--lime-900: rgb(54 83 20);
	--neutral-100: rgb(245 245 245);
	--neutral-200: rgb(229 229 229);
	--neutral-300: rgb(212 212 212);
	--neutral-400: rgb(163 163 163);
	--neutral-50: rgb(250 250 250);
	--neutral-500: rgb(115 115 115);
	--neutral-600: rgb(82 82 82);
	--neutral-700: rgb(64 64 64);
	--neutral-800: rgb(38 38 38);
	--neutral-900: rgb(23 23 23);
	--orange-100: rgb(255 237 213);
	--orange-200: rgb(254 215 170);
	--orange-300: rgb(253 186 116);
	--orange-400: rgb(251 146 60);
	--orange-50: rgb(255 247 237);
	--orange-500: rgb(249 115 22);
	--orange-600: rgb(234 88 12);
	--orange-700: rgb(194 65 12);
	--orange-800: rgb(154 52 18);
	--orange-900: rgb(124 45 18);
	--pink-100: rgb(252 231 243);
	--pink-200: rgb(251 207 232);
	--pink-300: rgb(249 168 212);
	--pink-400: rgb(244 114 182);
	--pink-50: rgb(253 242 248);
	--pink-500: rgb(236 72 153);
	--pink-600: rgb(219 39 119);
	--pink-700: rgb(190 24 93);
	--pink-800: rgb(157 23 77);
	--pink-900: rgb(131 24 67);
	--purple-100: rgb(243 232 255);
	--purple-200: rgb(233 213 255);
	--purple-300: rgb(216 180 254);
	--purple-400: rgb(192 132 252);
	--purple-50: rgb(250 245 255);
	--purple-500: rgb(168 85 247);
	--purple-600: rgb(147 51 234);
	--purple-700: rgb(126 34 206);
	--purple-800: rgb(107 33 168);
	--purple-900: rgb(88 28 135);
	--rose-100: rgb(255 228 230);
	--rose-200: rgb(254 205 211);
	--rose-300: rgb(253 164 175);
	--rose-400: rgb(251 113 133);
	--rose-50: rgb(255 241 242);
	--rose-500: rgb(244 63 94);
	--rose-600: rgb(225 29 72);
	--rose-700: rgb(190 18 60);
	--rose-800: rgb(159 18 57);
	--rose-900: rgb(136 19 55);
	--sky-100: rgb(224 242 254);
	--sky-200: rgb(186 230 253);
	--sky-300: rgb(125 211 252);
	--sky-400: rgb(56 189 248);
	--sky-50: rgb(240 249 255);
	--sky-500: rgb(14 165 233);
	--sky-600: rgb(2 132 199);
	--sky-700: rgb(3 105 161);
	--sky-800: rgb(7 89 133);
	--sky-900: rgb(12 74 110);
	--stone-100: rgb(245 245 244);
	--stone-200: rgb(231 229 228);
	--stone-300: rgb(214 211 209);
	--stone-400: rgb(168 162 158);
	--stone-50: rgb(250 250 249);
	--stone-500: rgb(120 113 108);
	--stone-600: rgb(87 83 78);
	--stone-700: rgb(68 64 60);
	--stone-800: rgb(41 37 36);
	--stone-900: rgb(28 25 23);
	--teal-100: rgb(204 251 241);
	--teal-200: rgb(153 246 228);
	--teal-300: rgb(94 234 212);
	--teal-400: rgb(45 212 191);
	--teal-50: rgb(240 253 250);
	--teal-500: rgb(20 184 166);
	--teal-600: rgb(13 148 136);
	--teal-700: rgb(15 118 110);
	--teal-800: rgb(17 94 89);
	--teal-900: rgb(19 78 74);
	--yellow-100: rgb(254 249 195);
	--yellow-200: rgb(254 240 138);
	--yellow-300: rgb(253 224 71);
	--yellow-400: rgb(250 204 21);
	--yellow-50: rgb(254 252 232);
	--yellow-500: rgb(234 179 8);
	--yellow-600: rgb(202 138 4);
	--yellow-700: rgb(161 98 7);
	--yellow-800: rgb(133 77 14);
	--yellow-900: rgb(113 63 18);
	--zinc-100: rgb(244 244 245);
	--zinc-200: rgb(228 228 231);
	--zinc-300: rgb(212 212 216);
	--zinc-400: rgb(161 161 170);
	--zinc-50: rgb(250 250 250);
	--zinc-500: rgb(113 113 122);
	--zinc-600: rgb(82 82 91);
	--zinc-700: rgb(63 63 70);
	--zinc-800: rgb(39 39 42);
	--zinc-900: rgb(24 24 27);
}

/* color-tokens-light-mode.css */
:root {
	--Background-Colors-bg-disabled: var(--Base-200);
	--Background-Colors-bg-primary: var(--Base-0-White);
	--Background-Colors-bg-primary_hover: var(--Base-50);
	--Background-Colors-bg-quarterary: var(--Base-200);
	--Background-Colors-bg-secondary: var(--Base-50);
	--Background-Colors-bg-secondary_hover: var(--Base-100);
	--Background-Colors-bg-tertiary: var(--Base-100);

	--Background-Colors-bg-primary-30-percent: color-mix(in srgb, var(--Background-Colors-bg-primary) 70%, transparent);



	--Border-Colors-border-primary: var(--Base-100);
	--Border-Colors-border-secondary: var(--Base-200);
	--Border-Colors-border-tertiary: var(--Base-300);
	--Components-Buttons-button-base-bg: var(--Base-900);
	--Components-Buttons-button-base-hover: var(--Base-700);
	--Components-Buttons-button-base-primary-disabled: var(--Base-300);
	--Components-Buttons-button-base-secondary-bg: var(--Base-0-White);
	--Components-Buttons-button-base-secondary-bg-hover: var(--Base-50);
	--Components-Buttons-button-base-secondary-border: var(--Base-200);
	--Components-Buttons-button-brand-bg: var(--Primary-500);
	--Components-Buttons-button-brand-bg-hover: var(--Primary-600);
	--Components-Buttons-button-brand-secondary-border: var(--Primary-500);
	--Components-Buttons-button-brand-secondary-content: var(--Primary-500);
	--Components-Buttons-button-error-fg: var(--Error-700);
	--Components-Buttons-button-error-fg-hover: var(--Error-800);
	--Components-Buttons-button-error-primary-bg: var(--Error-600);
	--Components-Buttons-button-error-primary-bg-hover: var(--Error-700);
	--Components-Buttons-button-error-secondary-bg: var(--Background-Colors-bg-primary);
	--Components-Buttons-button-error-secondary-bg-hover: var(--Error-50);
	--Components-Buttons-button-error-secondary-border: var(--Error-400);
	--Foreground-Colors-foreground-01: var(--Base-900);
	--Foreground-Colors-foreground-02: var(--Base-800);
	--Foreground-Colors-foreground-02_hover: var(--Base-900);
	--Foreground-Colors-foreground-03: var(--Base-700);
	--Foreground-Colors-foreground-03_hover: var(--Base-800);
	--Foreground-Colors-foreground-04: var(--Base-600);
	--Foreground-Colors-foreground-04_hover: var(--Base-700);
	--Foreground-Colors-foreground-05: var(--Base-500);
	--Foreground-Colors-foreground-05_hover: var(--Base-600);
	--Foreground-Colors-foreground-06: var(--Base-400);
	--Foreground-Colors-foreground-06_hover: var(--Base-500);
	--Foreground-Colors-foreground-07: var(--Base-300);
	--Foreground-Colors-foreground-07_hover: var(--Base-400);
	--Icons-icon-0: var(--Base-0-White);
	--Icons-icon-100: var(--Base-100);
	--Icons-icon-200: var(--Base-200);
	--Icons-icon-300: var(--Base-300);
	--Icons-icon-400: var(--Base-400);
	--Icons-icon-50: var(--Base-50);
	--Icons-icon-500: var(--Base-500);
	--Icons-icon-600: var(--Base-600);
	--Icons-icon-700: var(--Base-700);
	--Icons-icon-800: var(--Base-800);
	--Icons-icon-900: var(--Base-900);
	--Text-text-primary: var(--Base-900);
	--Text-text-quaternary: var(--Base-0-White);
	--Text-text-secondary: var(--Base-700);
	--Text-text-tertiary: var(--Base-500);

	--Scrollbar-track: #CED2DA;
	--Scrollbar-thumb: #97A1AF;

	--status-paid-text: var(--Success-700);
	--status-paid-border: var(--Success-600);
	--status-paid-bg: rgb(from var(--Success-500) r g b / 0.12);
	--status-paid-solid: var(--Success-500);

	--status-processing-text: var(--Warning-700);
	--status-processing-border: var(--Warning-600);
	--status-processing-bg: rgb(from var(--Warning-500) r g b / 0.12);
	--status-processing-solid: var(--Warning-500);

	--status-unpaid-text: var(--Error-700);
	--status-unpaid-border: var(--Error-600);
	--status-unpaid-bg: rgb(from var(--Error-500) r g b / 0.12);
	--status-unpaid-solid: var(--Error-500);


	--status-approved-text: var(--Success-700);
	--status-approved-border: var(--Success-600);
	--status-approved-bg: rgb(from var(--Success-500) r g b / 0.12);
	--status-approved-solid: var(--Success-500);

	--status-pending-text: var(--Warning-700);
	--status-pending-border: var(--Warning-600);
	--status-pending-bg: rgb(from var(--Warning-500) r g b / 0.12);
	--status-pending-solid: var(--Warning-500);

	--status-rejected-text: var(--Error-700);
	--status-rejected-border: var(--Error-600);
	--status-rejected-bg: rgb(from var(--Error-500) r g b / 0.12);
	--status-rejected-solid: var(--Error-500);
}


[data-theme='dark'] {
  /* color-tokens-dark-mode.css */
	--Background-Colors-bg-disabled: var(--Base-800);
	--Background-Colors-bg-primary: var(--Base-900);
	--Background-Colors-bg-primary-500: var(--Primary-500);
	--Background-Colors-bg-primary-500_hover: var(--Primary-600);
	--Background-Colors-bg-primary_hover: var(--Base-800);
	--Background-Colors-bg-quarterary: var(--Base-700);
	--Background-Colors-bg-secondary: var(--Base-800);
	--Background-Colors-bg-secondary_hover: var(--Base-750);
	--Background-Colors-bg-tertiary: var(--Base-750); 


	--Background-Colors-bg-primary-30-percent: color-mix(in srgb, var(--Background-Colors-bg-primary) 70%, transparent);


	--Border-Colors-border-disabled: var(--Base-700);
	--Border-Colors-border-primary: var(--Base-800);
	--Border-Colors-border-primary_hover: var(--Base-750);
	--Border-Colors-border-secondary: var(--Base-750);
	--Border-Colors-border-secondary_hover: var(--Base-700);
	--Border-Colors-border-tertiary: var(--Base-700);
	--Colors-bg-alternative: rgb(255 255 255);
	--Components-Buttons-button-base-bg: var(--Base-0-White);
	--Components-Buttons-button-base-hover: var(--Base-200);
	--Components-Buttons-button-base-primary-disabled: var(--Base-600);
	--Components-Buttons-button-base-secondary-bg: var(--Base-900);
	--Components-Buttons-button-base-secondary-bg-hover: var(--Base-800);
	--Components-Buttons-button-base-secondary-border: var(--Base-600);
	--Components-Buttons-button-brand-bg: var(--Primary-500);
	--Components-Buttons-button-brand-bg-hover: var(--Primary-600);
	--Components-Buttons-button-brand-secondary-border: var(--Primary-400);
	--Components-Buttons-button-brand-secondary-content: var(--Primary-400);
	--Components-Buttons-button-error-fg: var(--Error-400);
	--Components-Buttons-button-error-fg-hover: var(--Error-300);
	--Components-Buttons-button-error-primary-bg: var(--Error-600);
	--Components-Buttons-button-error-primary-bg-hover: var(--Error-700);
	--Components-Buttons-button-error-secondary-bg-hover: var(--Error-900);
	--Components-Buttons-button-error-secondary-border: var(--Error-600);
	--Foreground-Colors-foreground-01: var(--Base-0-White);
	--Foreground-Colors-foreground-02: var(--Base-200);
	--Foreground-Colors-foreground-03: var(--Base-300);
	--Foreground-Colors-foreground-03_hover: var(--Base-200);
	--Foreground-Colors-foreground-04: var(--Base-300);
	--Foreground-Colors-foreground-05: var(--Base-400);
	--Foreground-Colors-foreground-06: var(--Base-500);
	--Foreground-Colors-foreground-07: var(--Base-600);
	--Icons-icon-0: var(--Base-900);
	--Icons-icon-200: var(--Base-600);
	--Icons-icon-300: var(--Base-500);
	--Icons-icon-400: var(--Base-400);
	--Icons-icon-50: var(--Base-800);
	--Icons-icon-500: var(--Base-300);
	--Icons-icon-600: var(--Base-200);
	--Icons-icon-700: var(--Base-100);
	--Icons-icon-800: var(--Base-50);
	--Icons-icon-900: var(--Base-0-White);
	--Text-text-primary: var(--Base-0-White);
	--Text-text-quaternary: var(--Base-900);
	--Text-text-secondary: var(--Base-200);
	--Text-text-tertiary: var(--Base-400);

	--Scrollbar-track: #141C25;
	--Scrollbar-thumb: #414E62;

	--status-paid-text: var(--Success-400);
	--status-paid-border: var(--Success-500);
	--status-paid-bg: rgb(from var(--Success-400) r g b / 0.15);
	--status-paid-solid: var(--Success-500);

	--status-processing-text: var(--Warning-400);
	--status-processing-border: var(--Warning-500);
	--status-processing-bg: rgb(from var(--Warning-400) r g b / 0.15);
	--status-processing-solid: var(--Warning-500);

	--status-unpaid-text: var(--Error-400);
	--status-unpaid-border: var(--Error-500);
	--status-unpaid-bg: rgb(from var(--Error-400) r g b / 0.15);
	--status-unpaid-solid: var(--Error-500);


	--status-approved-text: var(--Success-400);
	--status-approved-border: var(--Success-500);
	--status-approved-bg: rgb(from var(--Success-400) r g b / 0.15);
	--status-approved-solid: var(--Success-500);

	--status-pending-text: var(--Warning-400);
	--status-pending-border: var(--Warning-500);
	--status-pending-bg: rgb(from var(--Warning-400) r g b / 0.15);
	--status-pending-solid: var(--Warning-500);

	--status-rejected-text: var(--Error-400);
	--status-rejected-border: var(--Error-500);
	--status-rejected-bg: rgb(from var(--Error-400) r g b / 0.15);
	--status-rejected-solid: var(--Error-500);
}